*~
*.orig
*.rej
*.pyc
.installed.cfg
__minitage__*
bin/*
develop-eggs
downloads
eggs
log
parts
apiloviz/public/media/cache/*
apiloviz/public/media/productos/*
apiloviz/public/media/slider/*
tmp
.DS_Store

db.sqlite3

apiloviz/local.py
apiloviz/config.py