<section class="header-mobil box_contraste">
      <a href="/" class="logo-mobil link">
        <h2> Loviz DC </h1>
      </a>
      <a href="#" class="menu-mobil-icono no-link">
        <span class="icon-menu"></span>
        <span class="texto">Menu</span>
      </a>          
      <a href="/carro/" class="carro-mobil mini-cart link">          
      <a href="/usuario/perfil/" class="cuenta-mobil link" >
        <span class="icon-user"></span>
        <span class="texto">Cuenta</span>
      </a>          
      </a>
    </section>
    <section class="header-utility box_contraste container-fluid">
      <div class="row">
        <section class="header-utility-shipping col-md-12"></section>
        <div id="header-utility-shipping" class="col-md-7">
          <h6>Envio Gratuito a todo el Perú para compras mayores a S/.50.00</h6>
        </div>
        <nav class="secondary-nav col-md-5">
          <ul class="menu-utilitys nav nav-pills pull-right">
            <li><a href="/">Lista Deseos</a></li>
            <li><a href="/">Chat en vivo</a></li>
            <li><a href="/">Ayuda</a></li>
          </ul>
          <ul id="menu-link-user" class="menu-utilitys-user nav nav-pills pull-right"></ul>
        </nav>
      </div>
    </section>
